# Erebia settings
EREBIA_SETUP_PASSWORD=example_password_please_change_this_or_you_will_get_hacked

# db settings
POSTGRES_PASSWORD=example-misskey-pass
DATABASE_PASSWORD=example-misskey-pass
POSTGRES_USER=example-misskey-user
POSTGRES_DB=misskey
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
